@model DomainModel.Entities.UserTicket
@{
    ViewData["Title"] = "CheckIn";
}

<h1>Check-In</h1>

<div>
    @if (Model != null)
    {
        @if (Model.Ticket.ExpiryDate > DateTimeOffset.UtcNow)
        {
            @if (!Model.IsScanned)
            {
                <dl class="row">
                    <dt class="col-sm-2">
                        Ticket:
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Ticket.TicketName)
                    </dd>
                    <dt class="col-sm-2">
                        First name:
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.User.FirstName)
                    </dd>
                    <dt class="col-sm-2">
                        Last name:
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.User.LastName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PurchaseDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Model.PurchaseDate.ToLocalTime().ToString("dddd dd/MM/yyyy hh:mm tt")
                    </dd>
                </dl>
            }
            else
            {
                <p>Scanned Ticket</p>
            }

        }
        else
        {
            <p>Expiried Ticket</p>
        }
    }
    else
    {
        <p>Invalid Ticket</p>
    }
</div>
