@model IEnumerable<DomainModel.Entities.UserTicket>

@{
    ViewData["Title"] = "User Ticket List";
}

<h1>User Ticket List</h1>
<input class="form-control" id="SearchBox" type="text" placeholder="Search..">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ticket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="myTable">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ticket.TicketName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @item.PurchaseDate.ToLocalTime().ToString("dddd dd/MM/yyyy hh:mm tt")
                </td>
                <td>
                    <button class="btn btn-danger Delete" data-toggle="modal" data-id="@item.Id" data-target="#DeleteForm"><span class="fa fa-trash"></span></button>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (User.Identity.IsAuthenticated || User.IsInRole("Admin"))
{
    <form asp-controller="UserTicket" asp-action="Delete" method="post">
        <input type="hidden" id="DeleteUTId" name="id" />
        <!-- Modal Form -->
        <div class="modal" id="DeleteForm">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Delete User</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        Do you want to delete this user?
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Yes</button>
                        <button type="button" class="btn btn-light" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
<script type="text/javascript">
    $('button.Delete').click(function () {
        $('#DeleteUTId').val($(this).data('id'));
    });
    $("#SearchBox").keyup(function () {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
</script>