<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EventWeb</title>
    <script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">EventWeb</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin Only</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-controller="User" asp-action="UserList">User List</a>
                                    <a class="dropdown-item" asp-controller="UserTicket" asp-action="UTList">Purchased Ticket List</a>
                                </div>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                    </ul>
                </div>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@User.Identity.Name</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-controller="UserTicket" asp-action="MyTicket">My Ticket</a>
                            <a class="dropdown-item" asp-controller="User" asp-action="ChangePassword">Change Password</a>
                            <a class="dropdown-item" asp-controller="User" asp-action="ChangeEmail">Change Email</a>
                            <a class="dropdown-item" asp-controller="User" asp-action="ChangeInfo">Change Info</a>
                        </div>
                    </li>
                    <li class="nav-item ml-2">
                        @Html.ActionLink("Logout", "Logout", "Authentication", "", new { @class = "btn btn-danger" })
                        @*<a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-light"><span class="glyphicon glyphicon-user"></span>Log off</a>*@
                    </li>
                </ul>
            }
            else
            {
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="@Url.Action("Register","User")" class="btn btn-light"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Login","Authentication")" class="btn btn-light"><span class="glyphicon glyphicon-user"></span>Log In</a>
                    </li>
                </ul>
            }
        </nav>
    </header>
    @*<div class="container">
            <main role="main" class="pb-3">

            </main>
        </div>*@

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - EventWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
